body
{
    background-image: ..(blud.png) ;
}

h1 {text-align: center;}

h1 {font-family: Courier New;
 color: blue; color: lighter;}
 
 h1 {text-shadow: 5px 5px black}
 
 p {text-align: center;
 font-family: Trebuchet ms;}
 
hr {
            border: none;
            height: 1px; 
            background-color: black; 
            margin: 20px 0; 
        }
		
	h2 {font-size: 48px;}
	h2 {font-family: Courier New;
 color: blue; color: lighter;}
 h2 {text-shadow: 5px 5px black}
 h2 {text-align: center;}

	  .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  inset: 0;
  margin: auto;
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
}
	
footer {
	background: black;
	color: white;
height: 500px}
button {display: block;
margin: auto;
background:red;
border: 0 none;
font-weight: bold;
cursor: pointer;
padding: 15px 45px;
font-size: 30px;
color: purple;
text-shadow: 2px 2px black}

